.sidebar {
  width: 15%;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 60px;
  padding-left: 2%;
}

.sidebar p {
  margin: 20px 0;
  cursor: pointer;
}

.sidebar hr {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 80%;
}