.sidebar {
  background: #fff;
  width: 15%;
  height: 100vh;
  position: fixed;
  top: 62px;
  left: 0;
  padding-left: 1.5%;
  padding-top: 20px;
  transition: 0.3s;
  overflow-y: auto;
}

.shortcut-links .side-link,
.subscribed-list .side-link {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 18px;
  width: fit-content;
  cursor: pointer;
}

.side-link span {
  font-size: 18px;
  width: 22px;
  text-align: center;
}

.side-link img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.side-link p {
  font-size: 15px;
  color: #000;
}

.sidebar hr {
  border: 0;
  height: 1px;
  background: #ccc;
  width: 85%;
  margin: 15px 0;
}

.subscribed-list h3 {
  font-size: 14px;
  margin: 20px 0;
  color: #5a5a5a;
  font-weight: 600;
}

.side-link.active p,
.side-link.active span {
  color: red;
  font-weight: 600;
}

.small-sidebar {
  width: 5%;
}

.small-sidebar p {
  display: none;
}

.small-sidebar h3 {
  display: none;
}

.small-sidebar hr {
  width: 50%;
  margin-bottom: 25px;
}

.small-sidebar .side-link img {
  width: 24px;
  height: 24px;
}

@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}